<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>InfoNest</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/app.css">

    <script src="scripts/vendor.js"></script>

</head>
<body>

    <nav class="navbar navbar-inverse navbar-static-top" role="navigation" ng-controller="NavCtrl" ng-cloak>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span><a class="navbar-brand" href="#/"><i class="fa fa-home" aria-hidden="true"></i> LogisticsPlus</a></span>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <div class="container-fluid">
                <ul class="nav navbar-nav" ng-show="authentication.isAuth">

                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-md" aria-hidden="true"></i> {{ 'Subscribers' | translate }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/specialties">{{ 'Specialties' | translate }}</a></li>
                            <li><a href="#/paymentmethods">{{ 'PaymentMethods' | translate }}</a></li>
                            <li><a href="#/socialsecurityfunds">{{ 'SocialSecurityFunds' | translate }}</a></li>
                            <li><a href="#/subscribers">{{ 'SubscribersList' | translate }}</a></li>
                        </ul>
                    </li>

                    <!--<li><a href="#/calendar">{{ 'Calendar' | translate }}</a></li>-->
                    <li><a href="#/callqueue"><i class="fa fa-phone" aria-hidden="true"></i> {{ 'CallQueue' | translate }}</a></li>
                    <li><a href="#/receivecall"><i class="fa fa-phone" aria-hidden="true"></i> {{ 'ReceiveCall' | translate }}</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="" ng-hide="authentication.isAuth" ng-click="login()">{{ 'LogIn' | translate }}</a></li>
                    <li class="dropdown" ng-show="authentication.isAuth">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i> {{authentication.userName}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="" data-toggle="modal" data-target="#changeMyPassword">{{ 'ChangePassword' | translate }}</a></li>
                            <li><a href="#/users" ng-show="authentication.isAdmin">{{ 'UsersManagment' | translate }}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="" ng-click="logOut()">{{ 'LogOut' | translate }}</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">{{language.key}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="" ng-click="changeLanguage('en')">English</a></li>
                            <li><a href="" ng-click="changeLanguage('el')">Ελληνικά</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div ng-view></div>
        <hr />
        <footer>
            <span><i class="fa fa-copyright" aria-hidden="true"></i> InfoNest Software</span>
        </footer>
    </div>        

    <div class="modal fade" id="changeMyPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="NavCtrl">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{'ChangePassword' | translate}}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>{{ 'Old Password' | translate }}</label>
                        <input type="password" class="form-control" ng-model="user.OldPassword">
                    </div>
                    <div class="form-group">
                        <label>{{ 'New Password' | translate }}</label>
                        <input type="password" class="form-control" ng-model="user.NewPassword">
                    </div>
                    <div class="form-group">
                        <label>{{ 'Confirm Password' | translate }}</label>
                        <input type="password" class="form-control" ng-model="user.ConfirmPassword">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="changePassword()">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <script src="scripts/app.js"></script>

</body>
</html>