
<div class="row">

    <div class="col-sm-12">

        <form-header save="save()">
            <i class="fa fa-phone" aria-hidden="true"></i> {{ 'Call' | translate }}
        </form-header>

        <div class="row">
            <div class="form-group col-sm-2">
                <label>{{ 'Line' | translate }}</label>
                <input type="text" class="form-control" ng-model="newRow.Line">
            </div>
            <div class="form-group col-sm-2">
                <label>{{ 'PhoneNumber' | translate }}</label>
                <input type="text" class="form-control" ng-model="newRow.PhoneNumber">
            </div>
            <div class="form-group col-sm-3">
                <label>{{ 'FullName' | translate }}</label>
                <input type="text" class="form-control" ng-model="newRow.FullName">
            </div>
            <div class="form-group col-sm-5">
                <label>{{ 'Remarks' | translate }}</label>
                <textarea class="form-control" ng-model="newRow.Remarks"></textarea>
            </div>
        </div>
        
    </div>

</div>

<div class="row">

    <div class="col-sm-12">

        <list-header search="search">
            <i class="fa fa-list" aria-hidden="true"></i> {{ 'Queue' | translate }}
        </list-header>

        <div class="table-responsive">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>{{ 'Line' | translate }}</th>
                        <th>{{ 'PhoneNumber' | translate }}</th>
                        <th>{{ 'FullName' | translate }}</th>
                        <th>{{ 'Remarks' | translate }}</th>
                        <!--<th>{{ 'Inserted' | translate }}</th>
                        <th>{{ 'Closed' | translate }}</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in data | filter:search" ng-class="{'active': item.Id == selectedRow.Id}" ng-click="selectRow(item)">
                        <td>{{item.Line}}</td>
                        <td>{{item.PhoneNumber}}</td>
                        <td>{{item.FullName}}</td>
                        <td>{{item.Remarks}}</td>
                        <!--<td>{{item.Inserted | date:'dd/MM/yyyy hh:mm'}}</td>
                        <td>{{item.Closed | date:'dd/MM/yyyy hh:mm'}}</td>-->
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>