
<div class="row">
    <div class="col-sm-5">

        <form-header save="save()">
            <i class="fa fa-stethoscope" aria-hidden="true"></i> {{ 'Specialty' | translate }}
        </form-header>
                
        <div class="form-group">
            <label>{{ 'Line' | translate }}</label>
            <input type="text" class="form-control" ng-model="subscriber.LastName">
        </div>
        <div class="form-group">
            <label>{{ 'FullName' | translate }}</label>
            <input type="text" class="form-control" ng-model="subscriber.FirstName">
        </div>
        <div class="form-group">
            <label>{{ 'PhoneNumber' | translate }}</label>
            <input type="text" class="form-control" ng-model="subscriber.Company">
        </div>
        <div class="form-group">
            <label>{{ 'Remarks' | translate }}</label>
            <textarea class="form-control" ng-model="subscriber.Company"></textarea>
        </div>
        
    </div>
    <div class="col-sm-7">

        <list-header search="search">
            <i class="fa fa-stethoscope" aria-hidden="true"></i> {{ 'Specialties' | translate }}
        </list-header>

        <div class="table-responsive">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>{{ 'Title' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in specialties | filter:search" ng-class="{'active': item.Id == selectedSpecialty.Id}" ng-click="selectRow(item)">
                        <td>{{item.Title}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
              
    </div>
</div>