<list-header add="add()" edit="edit()" search="search">
    <i class="fa fa-stethoscope" aria-hidden="true"></i> {{ 'PaymentMethods' | translate }}
</list-header>

<div class="table-responsive">
    <table class="table table-condensed">
        <thead>
            <tr>                
                <th>{{ 'Title' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in paymentmethods | filter:search" ng-class="{'active': item.Id == selectedRow.Id}" ng-click="selectRow(item)">                
                <td>{{item.Title}}</td>
            </tr>
        </tbody>
    </table>
</div>