<div class="form-group">
    <label>{{ 'LastName' | translate }}</label>
    <input type="text" class="form-control" ng-model="person.LastName">
</div>
<div class="form-group">
    <label>{{ 'FirstName' | translate }}</label>
    <input type="text" class="form-control" ng-model="person.FirstName">
</div>
<div class="form-group">
    <label>{{ 'FatherName' | translate }}</label>
    <input type="text" class="form-control" ng-model="person.FatherName">
</div>
<div class="form-group">
    <label>{{ 'BirthDate' | translate }}</label>
    <my-date-input date-time="person.BirthDate"></my-date-input>
</div>

<phones title="'Phones'" phones="person.Phones"></phones>

<addresses title="'Addresses'" addresses="person.Addresses"></addresses>

<infos title="'OtherInfo'" infos="person.Infos"></infos>