<form-header>
    <i class="fa fa-user-md" aria-hidden="true"></i> {{ 'ReceiveCall' | translate }}
</form-header>

<div class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="form-group col-md-6">
                <label>{{ 'Line' | translate }}</label>
                <input type="text" class="form-control" ng-model="callEntry.Line">
            </div>
            <div class="form-group col-md-3">
                <label>{{ 'Start' | translate }}</label>
                <button class="btn btn-default form-control" ng-click="startCall()" ng-if="!callEntry.Started">...</button>
                <button class="btn btn-default form-control" ng-if="callEntry.Started">{{ callEntry.Started | date : 'short' }}</button>
            </div>
            <div class="form-group col-md-3">
                <label>{{ 'Stop' | translate }}</label>
                <button class="btn btn-default btn-block" ng-click="stopCall()" ng-if="!callEntry.Ended">...</button>
                <button class="btn btn-default btn-block" ng-if="callEntry.Ended">{{ callEntry.Ended | date : 'short' }}</button>
            </div>
        </div>

        <div class="row" ng-if="callEntry.Started">

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ 'Subscriber' | translate }}
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>{{ 'LastName' | translate }}</label>
                            <input type="text" class="form-control" ng-model="callEntry.Subscriber.LastName" disabled>
                        </div>
                        <div class="form-group">
                            <label>{{ 'FirstName' | translate }}</label>
                            <input type="text" class="form-control" ng-model="callEntry.Subscriber.FirstName" disabled>
                        </div>
                        <div class="form-group">
                            <label>{{ 'Company' | translate }}</label>
                            <input type="text" class="form-control" ng-model="callEntry.Subscriber.Company" disabled>
                        </div>
                        <div class="form-group">
                            <label>{{ 'CallAnswer' | translate }}</label>
                            <textarea class="form-control" ng-model="callEntry.Subscriber.CallAnswer" disabled></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-8">
                                <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#myModal" data-backdrop="static">{{ 'FAQs' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ 'Person' | translate }}                        
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>{{ 'Phone' | translate }}</label>
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="callEntry.Person.PhonesInfo">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="findPerson()"><i class="fa fa-fw  fa-search" aria-hidden="true"></i></button>                                    
                                </div>
                            </div>                            
                        </div>
                        <div class="form-group">
                            <label>{{ 'LastName' | translate }}</label>                            
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="callEntry.Person.LastName" disabled>
                                <div class="input-group-btn">                                    
                                    <button class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal1" data-backdrop="static"><i class="fa fa-fw fa-info" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ 'FirstName' | translate }}</label>
                            <input type="text" class="form-control" ng-model="callEntry.Person.FirstName" disabled>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#myModal2" data-backdrop="static">{{ 'Appointments' | translate }}</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-default btn-block" ng-click="refresh()">{{ 'NewAppointment' | translate }}</button>
                            </div>                            
                        </div>                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="pull-right" style="margin-right:20px;margin-top:10px"><button type="button" data-dismiss="modal" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
                <faqs title="'FAQ'" faqs="callEntry.Subscriber.Faqs" locked="true"></faqs>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ 'Person' | translate }}</h4>
            </div>
            <div class="modal-body">
                <person person="callEntry.Person"></person>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ 'Appointments' | translate }}</h4>
            </div>
            <div class="modal-body">
                <appointments appointments="callEntry.Person.Appointments"></appointments>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ 'Appointment' | translate }}</h4>
            </div>
            <div class="modal-body">
                <appointment appointment="appointment" get-days="getDays"></appointment>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ 'People' | translate }}</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>{{ 'FullName' | translate }}</th>
                                <th>{{ 'PhonesInfo' | translate }}</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in people">
                                <td>{{row.FullName}}</td>
                                <td>{{row.PhonesInfo}}</td>
                                <td><button class="btn btn-danger"  ng-click="selectRow(row)"><i class="fa fa-hand-grab-o" aria-hidden="true"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>