<form-header delete="delete()" save="save()">
    <i class="fa fa-user-md" aria-hidden="true"></i> {{ 'Subscriber' | translate }}
</form-header>

<div class="row">
    <div class="col-sm-12">
        <form>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'Info' | translate }}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-sm-4 col-xs-12">
                            <label>{{ 'LastName' | translate }}</label>
                            <input type="text" class="form-control" ng-model="subscriber.LastName">
                        </div>
                        <div class="form-group col-sm-4 col-xs-12">
                            <label>{{ 'FirstName' | translate }}</label>
                            <input type="text" class="form-control" ng-model="subscriber.FirstName">
                        </div>                        
                        <div class="form-group col-sm-4 col-xs-12">
                            <label>{{ 'Company' | translate }}</label>
                            <input type="text" class="form-control" ng-model="subscriber.Company">
                        </div>
                        <div class="form-group col-sm-12 col-xs-12">
                            <label>{{ 'Specialty' | translate }}</label>
                            <select class="selectpicker form-control"
                                    ng-model="subscriber.Specialty"
                                    data-none-selected-text=""
                                    ng-options="item as item.Title for item in specialties track by item.Id"
                                    select-picker>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'CallAnswer' | translate }}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-xs-12">                           
                            <textarea class="form-control" ng-model="subscriber.CallAnswer"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row panel-title">
                        <div class="col-xs-9 col-sm-11">{{ 'Phones' | translate }}</div>
                        <div class="col-xs-3 col-sm-1 text-right">
                            <a href="javascript:void(0)" ng-click="addPhone()"><span class="text-success command"><i class="fa fa-plus-circle" aria-hidden="true"></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row" ng-repeat="phone in subscriber.Phones">
                        <div class="form-group col-sm-3 col-xs-12">
                            <label>{{ 'Type' | translate }}</label>
                            <select class="selectpicker form-control"
                                    ng-model="phone.PhoneType"
                                    ng-options="item.key as item.value | translate for item in phoneTypes"
                                    data-none-selected-text="" 
                                    select-picker>
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4 col-xs-12">
                            <label>{{ 'Number' | translate }}</label>
                            <input type="text" class="form-control" placeholder="Phone Number" ng-model="phone.Value">
                        </div>
                        <div class="col-sm-4"></div>
                        <div class="form-group col-sm-1 col-xs-12 text-right">
                            <div class="col-sm-12"><label> </label></div>
                            <a href="javascript:void(0)" ng-click="deletePhone(phone)"><span class="text-danger command"><i class="fa fa-minus-circle" aria-hidden="true"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row panel-title">
                        <div class="col-xs-9 col-sm-11">{{ 'Addresses' | translate }}</div>
                        <div class="col-xs-3 col-sm-1 text-right">
                            <a href="javascript:void(0)" ng-click="addAddress()"><span class="text-success command"><i class="fa fa-plus-circle" aria-hidden="true"></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row" ng-repeat="address in subscriber.Addresses">
                        <div class="form-group col-sm-2 col-xs-12">
                            <label>{{ 'Type' | translate }}</label>
                            <select class="selectpicker form-control" 
                                    ng-model="address.AddressType" 
                                    data-none-selected-text="" 
                                    ng-options="item.key as item.value | translate for item in addressTypes"
                                    select-picker>
                                <option value=""></option>
                            </select>                            
                        </div>
                        <div class="form-group col-sm-2 col-xs-12">
                            <label>{{ 'Area' | translate }}</label>
                            <input type="text" class="form-control" ng-model="address.Area">
                        </div>
                        <div class="form-group col-sm-2 col-xs-12">
                            <label>{{ 'Street' | translate }}</label>
                            <input type="text" class="form-control" ng-model="address.Street">
                        </div>
                        <div class="form-group col-sm-2 col-xs-12">
                            <label>{{ 'Number' | translate }}</label>
                            <input type="text" class="form-control" ng-model="address.StreetNumber">
                        </div>
                        <div class="form-group col-sm-2 col-xs-12">
                            <label>{{ 'PostalCode' | translate }}</label>
                            <input type="text" class="form-control" ng-model="address.PostalCode">
                        </div>
                        <div class="form-group col-sm-2 col-xs-12">
                            <label>{{ 'Floor' | translate }}</label>
                            <input type="text" class="form-control" ng-model="address.Floor">
                        </div>
                        <div class="form-group col-sm-11 col-xs-12">
                            <label>{{ 'Directions' | translate }}</label>
                            <input type="text" class="form-control" ng-model="address.Directions">
                        </div>
                        <div class="form-group col-sm-1 col-xs-12 text-right">
                            <div class="col-sm-12"><label> </label></div>
                            <a href="javascript:void(0)" ng-click="deleteAddress(address)"><span class="text-danger command"><i class="fa fa-minus-circle" aria-hidden="true"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row panel-title">
                        <div class="col-xs-9 col-sm-11">{{ 'OtherInfo' | translate }}</div>
                        <div class="col-xs-3 col-sm-1 text-right">
                            <a href="javascript:void(0)" ng-click="addInfo()"><span class="text-success command"><i class="fa fa-plus-circle" aria-hidden="true"></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row" ng-repeat="info in subscriber.Infos">
                        <div class="form-group col-sm-3 col-xs-12">
                            <label>{{ 'Type' | translate }}</label>
                            <select class="selectpicker form-control" 
                                    ng-model="info.PersonInfoType" 
                                    data-none-selected-text="" 
                                    ng-options="item.key as item.value | translate for item in infoTypes"
                                    select-picker>
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="form-group col-sm-8 col-xs-12">
                            <label>{{ 'Value' | translate }}</label>
                            <input type="text" class="form-control" ng-model="info.Value">
                        </div>
                        <div class="form-group col-sm-1 col-xs-12 text-right">
                            <div class="col-sm-12"><label> </label></div>
                            <a href="javascript:void(0)" ng-click="deleteInfo(info)"><span class="text-danger command"><i class="fa fa-minus-circle" aria-hidden="true"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <scheduler schedule="subscriber.WorkSchedule" ></scheduler>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row panel-title">
                        <div class="col-xs-9 col-sm-11">{{ 'DivertPhones' | translate }}</div>
                        <div class="col-xs-3 col-sm-1 text-right">
                            <a href="javascript:void(0)" ng-click="addDivertPhone()"><span class="text-success command"><i class="fa fa-plus-circle" aria-hidden="true"></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row" ng-repeat="phone in subscriber.DivertPhones">
                        <div class="form-group col-sm-3 col-xs-12">
                            <label>{{ 'Type' | translate }}</label>
                            <select class="selectpicker form-control"
                                    ng-model="phone.PhoneType"
                                    ng-options="item.key as item.value | translate for item in phoneTypes"
                                    data-none-selected-text=""
                                    select-picker>
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4 col-xs-12">
                            <label>{{ 'Number' | translate }}</label>
                            <input type="text" class="form-control" placeholder="Phone Number" ng-model="phone.Value">
                        </div>
                        <div class="col-sm-4"></div>
                        <div class="form-group col-sm-1 col-xs-12 text-right">
                            <div class="col-sm-12"><label> </label></div>
                            <a href="javascript:void(0)" ng-click="deleteDivertPhone(phone)"><span class="text-danger command"><i class="fa fa-minus-circle" aria-hidden="true"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>