<form-header delete="delete()" save="save()">
    <i class="fa fa-user-md" aria-hidden="true"></i> {{ 'Subscriber' | translate }}
</form-header>

<div class="row">
    <div class="col-sm-12">
        <form>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'Info' | translate }}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-sm-3 col-xs-12">
                            <label>{{ 'LastName' | translate }}</label>
                            <input type="text" class="form-control" ng-model="subscriber.LastName">
                        </div>
                        <div class="form-group col-sm-3 col-xs-12">
                            <label>{{ 'FirstName' | translate }}</label>
                            <input type="text" class="form-control" ng-model="subscriber.FirstName">
                        </div>                        
                        <div class="form-group col-sm-3 col-xs-12">
                            <label>{{ 'Company' | translate }}</label>
                            <input type="text" class="form-control" ng-model="subscriber.Company">
                        </div>
                        <div class="form-group col-sm-3 col-xs-12">
                            <label>{{ 'Call Center Line' | translate }}</label>
                            <input type="text" class="form-control" ng-model="subscriber.CallNumber">
                        </div>
                        <div class="form-group col-sm-12 col-xs-12">
                            <label>{{ 'Specialty' | translate }}</label>
                            <select class="selectpicker form-control"
                                    ng-model="subscriber.Specialty"
                                    data-none-selected-text=""
                                    ng-options="item as item.Title for item in specialties track by item.Id"
                                    select-picker>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'CallAnswer' | translate }}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-xs-12">                           
                            <textarea class="form-control" ng-model="subscriber.CallAnswer"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <phones title="'Phones'" phones="subscriber.Phones"></phones>
            
            <addresses title="'Addresses'" addresses="subscriber.Addresses"></addresses>
            
            <infos title="'OtherInfo'" infos="subscriber.Infos"></infos>

            <scheduler schedule="subscriber.WorkSchedule" ></scheduler>

            <div class="form-group">
                <label>{{ 'RdvDuration' | translate }}</label>
                <input type="text" class="form-control" ng-model="subscriber.RdvDuration">
            </div>

            <phones title="'DivertPhones'" phones="subscriber.DivertPhones"></phones>

            <faqs title="'FAQ'" faqs="subscriber.Faqs"></faqs>
            
        </form>
    </div>
</div>